.TitleTab{

    width: 1720px;
    height: 170px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.Title{

    font-size: 2em;
    margin-bottom: 10px;

}

.Underline{

width: 600px;
height: 1.6px;
    background-color: black;


}